@model WebAppCRUD.Models.ViewModel.TablaViewModel
@{
    ViewBag.Title = "Nuevo";
}

@using (Html.BeginForm("Editar", "Estudiante", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Matricula)

            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Apellido)
                @Html.TextBoxFor(d => d.Apellido, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellido, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Edad)
                @Html.TextBoxFor(d => d.Edad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Edad, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Genero)
                @Html.TextBoxFor(d => d.Genero, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Genero, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Telefono)
                @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Telefono, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Nacionalidad)
                @Html.TextBoxFor(d => d.Nacionalidad, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nacionalidad, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Email)
                @Html.TextBoxFor(d => d.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Email, "", new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Fecha_Nacimiento)
                <br>
                @Html.EditorFor(d => d.Fecha_Nacimiento, "", new { @class = "form-control" })
                <br>
                @Html.ValidationMessageFor(d => d.Fecha_Nacimiento, "", new { @class = "red" })
            </div>
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" style="margin:5px;" type="submit" />
            </div>
        </div>
    </div>
}